<template name="layout">

    <link href="stylesheet.css" rel="stylesheet" type="text/css">

    <!-- <div class="login" align=right style="margin-right: 20px;"> -->
    <div class="login">
        {{> loginButtons}}
    </div>

    <ul class="navibar">
      <li class="navili"><a href="{{pathFor 'home'}} " class="navia">Home</a></li>
      <li class="navili"><a href="{{pathFor 'links'}}" class="navia">Links</a></li>
      <li class="navili"><a href="{{pathFor 'addlinks'}}" class="navia">Add links</a></li>
      <li class="navili"><a href="{{pathFor 'contact'}}" class="navia">Contact</a></li>
    </ul>

    <br>
    <div class="logodiv">
      <img src="../images/logo2.png" width="auto" height="auto" class="logoimg">
    </div>
    <br>

  <div class="container">
    {{> yield}}
  </div>
</template>
