a, a:visited, a:active {
  color: lightblue;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

body {
    background-image:url("../images/bgtile.png");
    background-repeat: repeat;
    background-color: #004466;
    color: white;
}

label {
  font-weight: normal !important;
}

.logodiv {
  margin-left: 0;
}

.login {
}

.whitetext {
  color: white;
}

.blacktext {
  color: black;
}

.greytext {
  color: grey;
}

.navibar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 68, 102, 0.8);
}

.navili {
  float: left;
}

.navia {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navia:hover {
  background-color: #0077b3;
}

@media only screen and (orientation: portrait) {
    body {
        background-color: lightblue;
    }
}
