.statusbox{
  background-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
}

.userbox{
  background-color: aliceblue;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.linkbox{
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.linktable{
  background-color: white;
  padding: 0px;
}

.userstatusbox{
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
