.statusbox{
  background-color: rgba(0, 68, 102, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}

.userbox{
  background-color: rgba(0, 68, 102, 0.8);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.linkbox{
  background-color: rgba(0, 68, 102, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.linktable{
  background-color: rgba(255, 255, 255, 1);
  padding: 0px;
}

.userstatusbox{
  background-color: rgba(0, 68, 102, 0.8);
  padding: 20px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
